<% @gallery.comments.each do |comment| %>
<div class="comment-content">

    <p>
        <strong>Data dodania:
        </strong>
        <%= comment.created_at.strftime("%b %d, %Y") %>
    </p>
    <p>
        <strong>Autor:
        </strong>
        <%= comment.user.email %>
    </p>
    <p>
        <strong>Komentarz:
        </strong>
        <%= comment.content %>
    </p>
</div>
<% end %>

<%= render 'comments/form' %>
