<% if user_signed_in? %>
<div class="comments-wrapper comment-inputs form-group">
    <h3>Dodaj komentarz:</h3>
    <%= form_for [commentable, Comment.new] do |f| %>
    <div class="form-group">
        <%= f.text_area :body, class: "form-control", placeholder: "Napisz komentarz..." %>
    </div>
    <%= f.submit "Dodaj komentarz", class: "btn btn-success" %>
    <% end %>
</div>
<% else %>
<div class="comment-error">
  <p class="text-danger text-center">
    Musisz być zalogowany, aby dodać komentarz!
  </p>
</div>


<% end %>
